{% extends 'base.html' %}
{% block title %}Проверка неравенств{% endblock %}

{% block content %}
<h1>Проверка неравенств</h1>

<form method="post">
    {% csrf_token %}
    <label for="a">Введите A:</label>
    <input type="number" step="any" name="a" required>
    
    <label for="b">Введите B:</label>
    <input type="number" step="any" name="b" required>

    <label for="c">Введите C:</label>
    <input type="number" step="any" name="c" required>

    <button type="submit">Проверить</button>
</form>

{% if result %}
    <h2>Результат:</h2>
    <p>{{ result }}</p>
{% endif %}
{% endblock %}