{% extends 'base.html' %}
{% load static %}

{% block title %}Алгоритмическая задача 2{% endblock %}

{% block content %}
<h1>Алгоритмическая задача 2</h1>

<p>
    Даны вещественные числа: A, B, C. Определить, выполняются ли неравенства 
    <strong>A &lt; B &lt; C</strong> или <strong>A &lt; B &gt; C</strong> и какое именно неравенство выполняется.
  </p>
  
  <!-- Форма для ввода трех чисел (через пробел) -->
  <form method="POST">
    {% csrf_token %}
    <label for="user_input">Введите A, B, C (через пробел):</label><br>
    <textarea id="user_input" name="user_input" rows="2" cols="60">{{ request.POST.user_input }}</textarea><br><br>
    <button type="submit">Решить</button>
  </form>
  
  <!-- Результат решения -->
  {% if result %}
    <h2>Результат:</h2>
    <pre>{{ result }}</pre>
  {% endif %}
  {% endblock %}