{% extends 'base.html' %}
{% block title %}Требования и образование{% endblock %}
{% block content %}
<h1>Требования</h1>
<p>Содержание требований можно найти по следующим ссылкам:</p>
<ul>
   <li>
      <a href="https://github.com/vmarshirov/WebApplicationsDevelopment/blob/main/task1/task_list.txt" target="_blank">
         Содержание задачи
      </a>
   </li>
   <li>
      <a href="https://github.com/vmarshirov/WebApplicationsDevelopment/blob/main/task1/education.txt" target="_blank">
         Образовательные требования
      </a>
   </li>
</ul>
{% endblock %}
